In [1]:
!curl -o 'weather.json' 'https://archive-api.open-meteo.com/v1/archive?latitude=52.52&longitude=13.41&start_date=2010-01-01&end_date=2023-08-31&hourly=temperature_2m,relativehumidity_2m,rain,pressure_msl,surface_pressure,cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 8605k    0 8605k    0     0  1207k      0 --:--:--  0:00:07 --:--:-- 1223k

In [2]:
import json 
import pandas as pd

f = open('weather.json')
data = json.load(f)
f.close()


df = pd.DataFrame.from_dict(data["hourly"])

In [3]:
import sklearn.model_selection
from lakefs_spec import LakeFSFileSystem


fs = LakeFSFileSystem()

In [4]:

train, test = sklearn.model_selection.train_test_split(df)

df2 = pd.concat([train,test])

train, test = sklearn.model_selection.train_test_split(df2)

test.to_csv('tts_test.csv')
train.to_csv(f'lakefs://quickstart/weird/tts_test.csv')
train.to_csv(f'tts_train.csv')
train.to_csv(f'lakefs://quickstart/weird/tts_train.csv')


tts_weird_from_lakefs = pd.read_csv(f'lakefs://quickstart/weird/tts_train.csv', index_col=0)
tts_weird_from_local =  pd.read_csv(f'tts_train.csv', index_col=0)

test_weird_lakefs = pd.read_csv(f'lakefs://quickstart/weird/tts_test.csv', index_col=0)
test_weird_local = pd.read_csv(f'tts_test.csv', index_col=0)

Calling open() in write mode results in unbuffered file uploads, because the lakeFS Python client does not support multipart uploads. Note that uploading large files unbuffered can have performance implications.
Created new branch 'weird' from branch 'main'.
Calling open() in write mode results in unbuffered file uploads, because the lakeFS Python client does not support multipart uploads. Note that uploading large files unbuffered can have performance implications.

In [5]:
tts_weird_from_lakefs

,2018-10-05T04:00,9.6,92,0.0,1023.7,1019.0,95,95.1,16,0,10.2,21.3,212,219
76780,,,,,,,,,,,,,,
51803,2015-11-29T11:00,6.5,82,0.0,1007.0,1002.3,100,67,91,98,21.9,36.0,225,229
74302,2018-06-23T22:00,13.5,79,0.0,1019.4,1014.8,100,99,100,0,14.5,23.8,284,288
109586,2022-07-03T02:00,15.9,66,0.0,1020.3,1015.7,7,0,12,0,12.8,25.9,310,305
5094,2010-08-01T06:00,19.7,63,0.0,1014.9,1010.4,10,0,11,12,9.2,15.7,191,200
90931,2020-05-16T19:00,13.0,48,0.0,1019.6,1015.0,100,50,72,98,8.9,19.9,220,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112175,2022-10-18T23:00,11.5,85,0.0,1025.8,1021.1,50,54,0,4,12.2,24.5,166,160
23893,2012-09-22T13:00,13.1,64,0.0,1008.9,1004.3,24,13,18,5,29.9,43.3,273,273
82245,2019-05-20T21:00,16.0,92,0.0,1001.4,996.9,27,12,3,48,13.6,25.4,122,128
68827,2017-11-07T19:00,7.4,86,0.0,1022.3,1017.6,100,100,19,0,13.7,23.4,87,91
83142,2019-06-27T06:00,17.2,59,0.0,1023.8,1019.2,2,2,0,0,18.1,24.8,305,306

In [6]:
tts_weird_from_local

,time,temperature_2m,relativehumidity_2m,rain,pressure_msl,surface_pressure,cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m
61750,2017-01-16T22:00,-3.7,89,0.0,1030.5,1025.5,62,69,0,0,6.9,16.2,332,348
88325,2020-01-29T05:00,2.5,84,0.0,997.6,992.9,100,43,86,98,20.9,36.1,255,258
21601,2012-06-19T01:00,13.9,79,0.0,1020.2,1015.6,0,0,0,0,8.1,17.2,302,307
52616,2016-01-02T08:00,-2.3,88,0.0,1023.8,1018.9,100,99,17,87,20.2,31.2,94,97
93485,2020-08-31T05:00,14.8,96,0.1,1011.7,1007.2,100,18,92,100,10.0,19.4,296,305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112175,2022-10-18T23:00,11.5,85,0.0,1025.8,1021.1,50,54,0,4,12.2,24.5,166,160
23893,2012-09-22T13:00,13.1,64,0.0,1008.9,1004.3,24,13,18,5,29.9,43.3,273,273
82245,2019-05-20T21:00,16.0,92,0.0,1001.4,996.9,27,12,3,48,13.6,25.4,122,128
68827,2017-11-07T19:00,7.4,86,0.0,1022.3,1017.6,100,100,19,0,13.7,23.4,87,91
83142,2019-06-27T06:00,17.2,59,0.0,1023.8,1019.2,2,2,0,0,18.1,24.8,305,306

In [7]:
test_weird_local

,time,temperature_2m,relativehumidity_2m,rain,pressure_msl,surface_pressure,cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m
36525,2014-03-02T21:00,4.5,90,0.0,1003.2,998.5,80,72,5,42,7.9,16.4,74,75
26194,2012-12-27T10:00,7.5,85,0.0,1001.2,996.6,82,7,80,92,22.7,38.0,243,245
73797,2018-06-02T21:00,18.6,92,0.2,1016.3,1011.8,67,21,33,93,11.3,22.1,287,294
44124,2015-01-13T12:00,10.1,63,0.0,1005.5,1000.9,67,46,42,0,26.7,43.3,226,228
87919,2020-01-12T07:00,1.2,84,0.0,1022.7,1017.9,19,6,0,46,17.9,32.7,214,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25455,2012-11-26T15:00,6.9,78,0.0,1008.3,1003.6,30,0,1,99,10.8,23.0,150,160
79655,2019-02-01T23:00,0.1,85,0.1,995.1,990.4,100,33,100,100,9.9,19.2,71,85
26664,2013-01-16T00:00,-3.5,88,0.0,1010.4,1005.5,100,98,98,1,9.8,17.1,62,68
30097,2013-06-08T01:00,13.0,88,0.0,1019.0,1014.4,5,5,1,1,7.4,18.2,29,38
47184,2015-05-21T00:00,7.9,81,0.0,1017.4,1012.7,16,0,24,4,7.7,17.8,298,313

In [8]:
test_weird_lakefs

,2018-10-05T04:00,9.6,92,0.0,1023.7,1019.0,95,95.1,16,0,10.2,21.3,212,219
76780,,,,,,,,,,,,,,
51803,2015-11-29T11:00,6.5,82,0.0,1007.0,1002.3,100,67,91,98,21.9,36.0,225,229
74302,2018-06-23T22:00,13.5,79,0.0,1019.4,1014.8,100,99,100,0,14.5,23.8,284,288
109586,2022-07-03T02:00,15.9,66,0.0,1020.3,1015.7,7,0,12,0,12.8,25.9,310,305
5094,2010-08-01T06:00,19.7,63,0.0,1014.9,1010.4,10,0,11,12,9.2,15.7,191,200
90931,2020-05-16T19:00,13.0,48,0.0,1019.6,1015.0,100,50,72,98,8.9,19.9,220,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112175,2022-10-18T23:00,11.5,85,0.0,1025.8,1021.1,50,54,0,4,12.2,24.5,166,160
23893,2012-09-22T13:00,13.1,64,0.0,1008.9,1004.3,24,13,18,5,29.9,43.3,273,273
82245,2019-05-20T21:00,16.0,92,0.0,1001.4,996.9,27,12,3,48,13.6,25.4,122,128
68827,2017-11-07T19:00,7.4,86,0.0,1022.3,1017.6,100,100,19,0,13.7,23.4,87,91
83142,2019-06-27T06:00,17.2,59,0.0,1023.8,1019.2,2,2,0,0,18.1,24.8,305,306